body {
	margin: 0px;
}
#menu_superior {
	width: 100%;
	margin: 0px auto;
	background: #C2C5C9;
	height: 30px;
	padding: 5px;
}

#titulosuperior {
	width: 90%;
	float: left;
	padding: 0px;
	margin: 0px;
}

#titulosuperior h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;	
	line-height: 24px;
	margin: 0px;
	font-weight: bold;
	text-align: center;
}


#bt_imprimir {
	float: right;
	width: 10%;
	margin: 0px;
	padding: 0px;
}

#menu_medio {
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 0px 5px 0px 5px;
	background: #C2C5C9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #594F4F;
}

#menu_login {
	float: left;
}

#menu_login a:link, #menu_login a:visited {
	color: #594F4F;
	text-decoration: none;
}

#menu_visitas {
	float: right;	
}

#menu_inferior {
	border-top: solid 1px #8A827E;
	clear: both;
	width: 100%;
	background: #F6F7F5 url(fondo_menu.gif) no-repeat right bottom;
	height: 38px;
	padding: 10px 0px 0px 0px;
}

#botones {
	float: left;
	width: 70%;
	
}

#botones span {
	display: none;
}

#botones ul {
	margin: 0px;
	padding: 0px;
}
#botones ul li {
	float: left;
	list-style: none;
}

#botones ul li a:link, #botones ul li a:visited {
	display: block;
	height:28px;
	/*float: left;*/
}

#buscar_menu {
	width: 30%;
	float: right;
	text-align: right;
	padding: 3px;
}

#buscar_ {
	height: 18px;
	width: 120px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #F6F7F5;
}

#bt_buscar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	background: #C8C8C1;
	height: 18px;
	padding: 0px;
}


#crono_normal a:link, #crono_normal a:visited {
	width: 82px;
	background: url(opc_cronograma.gif) no-repeat;
}
#crono_normal a:hover {
	background: url(opc_cronograma_h.gif) no-repeat;
}

#crono_activo a:link {
	width: 82px;
	background: url(opc_cronograma_a.gif) no-repeat;
}

#programa_normal a:link, #programa_normal a:visited {
	width: 128px;
	background: url(opc_programa.gif) no-repeat;
}

#programa_normal a:hover {

	background: url(opc_programa_h.gif) no-repeat;
}
/*#programa_activo{
	width:128px;
	height:28px;
	display:block;
}*/

#programa_activo a:link {
	width:128px;
	background: url(opc_programa_a.gif) no-repeat;
}

#conf_normal a:link, #conf_normal a:visited {
	width: 89px;
	background: url(opc_conf.gif) no-repeat;
}

#conf_normal a:hover {
	background: url(opc_conf_h.gif) no-repeat;
}

#conf_activo a:link {
	background: url(opc_conf_a.gif) no-repeat;
}

#menu_normal a:link, #menu_normal a:visited {
	width: 53px;
	background: url(opc_menu.gif) no-repeat;
}
#menu_normal a:hover {
	background: url(opc_menu_h.gif) no-repeat;
}

#menu_activo a:link {
	background: url(opc_menu_a.gif) no-repeat;
}




