@charset "utf-8";
/* CSS Document */

.titulo_actividad
{
	font-size:12px;
	font-weight:600;
}

.crono_conf{
	font-size:11px;
	margin-top:5px;
	margin-left:20px;
}

.ajax-confs{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
	border: 2px solid rgb(0, 0, 0);
	padding:0px !important;
}

.div_buscar_persona_TL{
	 overflow:hidden;
	 white-space:  nowrap;
	 vertical-align:middle;
	 /*height:22px;*/
	 line-height:20px; 
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;	 
	 border-bottom:solid 1px  #999999; 
	 background-color:#F0F0F0; 
	 padding:8px;
	 margin:0px;
	 cursor:pointer;

}
.div_buscar_persona_TL:hover{
	background-color:white !important;
}
.div_buscar_persona_TL:nth-child(even) {
    background-color: #F7F7F7;
}
.camposTL{

font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
.persona_search {

	width:480px; 
	overflow-X:hidden; 
	height:20px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	border:solid 1px #000000; 
	background-color:#D2E1F7;
	padding:2px;
	
}

.ui-state-highlight { height: 2.5em; line-height: 1.2em; }
.ui-sortable-helper{background:#E8E8E8}
input.form-control{
	font-size:18px;
}
label{
	font-weight:normal;
}
.div_drop_tl{
	background-color:white !important;
	font-size:11px;
	color:black;
}
.div_drop_tl .sortable_tl{
	padding:10px;
	background-color:#F5F5F5;
	cursor:pointer;
}
.div_drop_tl .sortable_tl img{
	float:right;
	margin-top:-3px;
}
.div_drop_tl .sortable_tl .col-xs-11{
	width:95%;
	padding:0px 0 0 15px;
}
.div_drop_tl .sortable_tl .col-xs-1{
	width:4%;
	padding:0px;
}
.div_drop_tl .sortable_tl:nth-child(odd){
	background-color:#EBEBEB;
}
.div_drop_tl .sortable_tl:first-child{
	border-top:1px solid #B1B1B1;
}
.div_drop_tl .sortable_tl{
	border:1px solid #B1B1B1;
	border-top:0px;
}
#ul_tl{
	margin-top:10px;
}
#ul_tl li:first-child{
	border-top:1px solid #B1B1B1;
}
#ul_tl li,.ui-draggable{
	list-style:none;
	background-color:#F2F2F2;
	padding:10px;
	border:1px solid #B1B1B1;
	border-top:0px;
	cursor:pointer;
	max-width:600px;
	overflow:hidden;
}
#ul_tl li:nth-child(odd){
	background-color:#F7F7F7
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background:#E3EFF4 !important
}
#ul_tl{
	max-height:200px;
	overflow:auto;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display:none
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
