@charset "utf-8";
/* CSS Document */

#form_casillero{
	padding-left:50px !important;
	background-color:#f6f6f6;
	border:1px solid #d7d7d7;
	-webkit-box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.93);
-moz-box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.93);
box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.93);
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
	color:#8c8c8c;
	font-family:arial;
	font-size:17px;
	display:none;
}

#form_casillero select,input:not([type="radio"]):not([type="checkbox"]),textarea{
	border:1px solid #d0d0d0;
	width:90%;
	padding:1px 5px 1px 5px;
}

#editor_datos_actividad{
	padding:10px 50px 10px 0px;
}

#nuevas_ponencias{
	margin-bottom:10px;
}
.divTrabajos{
	font-size:13px;
}
.conf_options{
	
}

.persona_txt{
	color:black;
}
.persona_txt img{
	cursor:pointer;
}
#txt_persona_search{
	margin-left:33px;
	padding:0px;
	border:1px solid #999;
	width:90%;
	font-size:13px;
	max-height:200px;
	overflow:auto;
}

.conferencista_helper:nth-child(even) {
    background-color: #E9E9E9;
}

.conferencista_helper{
	cursor:pointer;
	background-color:#F7F7F7;
	padding:3px 8px;
}

.div_edit_tl{
	margin-top:20px;
}
.div_edit_tl #ul_tl{
	font-size:12px;
}