@charset "utf-8";
/* CSS Document */

body{
	padding:0px 20px
}

.clear{
	clear:both;
}

.extendido_container_dia_sala{
	margin-top:20px;
	margin-bottom:5px;
}

.extendido_dia_sala
{
	font-size:20px;
	color:#294791;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	margin-left:10px;
}

.container_data{
	padding:10px;
	margin-bottom:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#container_dias{
	text-align:center
}
.dias_cronograma{
	display:inline-block;
	margin:10px 1px;
}

.dias_cronograma a{
	padding:5px 20px;
	border:1px solid #c5c7c6;
	background-color:#c5c7c6;
	color:#2b2a28;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#container_salas{
	text-align:center
}

.salas_cronograma{
	display:inline-block;
	margin:10px 1px;
}

.salas_cronograma a{
	padding:5px 20px;
	border:1px solid #01a0e2;
	background-color:#01a0e2;
	color:#2b2a28;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color:white;
}

.extendido_hora_actividad:first-child{
	margin-top:0px;
}
.extendido_hora_actividad
{
	font-size:12px;
	margin-top:10px;
	padding:0px 10px;
	margin-bottom:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.extendido_hora_actividad span
{
	font-size:11px;
	font-weight:bold;
}

.extendido_hora_actividad i
{
	font-weight:bold;
	margin-left:0px;
}

.extendido_titulo_actividad{
	font-size:14px;
	color:#294791;
	font-weight:bold;
	/*margin-left:10px;/*113*/
	margin-bottom:5px;
}

.titulo_conf{
	font-size:11px;
	font-weight:bold;
	margin-left:47px; /* 150 */
	margin-top:5px;
}

.calidad_conf{
	font-size:11px;
	float:left;
	margin-left:48px; /* 151 */
	width:70px;
	clear:left;
	margin-top:2px;
}

.conferencista{
	float:left;
	clear:right;
	width:626px;
	font-size:13px;
}

.conferencista i{
	font-size:11px;
}

.trabajo .titulo{
	/*margin-left: 10px;*/
	font-size:13px;
}

.trabajo .hora_tl{
	display:none !important
}

.trabajo .datos_imp{
	text-align:right;
}

.trabajo .autores{
	font-size:13px;
	float: left;
	/*margin-left:73px*/
}
.trabajo .autores span{
	display: block;
	/*margin:2px 0px;*/
	font-size: 12px;
}

.trabajo .autores .autor_institucion{
	font-size:11px;
	/*margin-left:40px;*/
}

.trabajo .resumen-link{
	float: right;
	display:none
}

.trabajo .resumen {
	font-size:13px;
	text-align: justify;
	/*margin-left:40px;*/
}
