body{
    background-color: #F0E6F0;
}
.datos_carta{
    border: 2px solid black;
    background-color: #FEFFEA;
    padding-top: 15px;
    padding-bottom: 15px;
}
.datos_envio{
    border: 2px solid black;
    background-color: #ECF4F9;
    padding-top: 15px;
    padding-bottom: 15px;
}
.datos_listado{
    border: 2px solid black;
    background-color: #D0E1D1;
    padding-bottom: 10px;
}
.datos_listado .div_info{
    padding-top: 10px;
    background-color: #E4EDE4;
}
.div_filtros{
    padding-top: 10px;
}
.div_marcar{
    padding-top: 8px;
    padding-bottom: 8px;
}
#listado{
    background-color: #FFFFFF;
}