img{
	max-width:900px;
}
body{
	font-size:11px !important;
}
#boxajax{
	position:fixed;
	display:none;
	z-index:1000002
}
.panel-heading{
	padding:0px !important;
}
.panel-heading a{
	display:block;
	padding:12px;
	text-transform:uppercase;
	font-size:14px;
}

.panel-heading a:hover{
	padding:12px;
	text-transform:uppercase;
	font-size:14px;
}

.body-ubicacion{
	margin-left:4% !important;
}

#boxajax iframe, #boxajax iframe html, #boxajax iframe body{
	margin:0 !important;
	padding:0 !important;
	background:none !important;
	border:none !important;
}

.popop_box{
	border:2px solid black;
}

#capa{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(imagenes/bg.png);
	display:none;
	z-index:100001
}

.close_popup{
	background:url(imagenes/cerrar.png);
	height:16px;
	width:16px;
	position: absolute;
    right: 10px;
	cursor:pointer;
}

#state{
	position:absolute;
	top:0;
	left:40%;
	color:#fff;
	text-align:center;
	padding:5px 0 8px;
	width:280px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-radius:0 0 5px 5px;
	z-index:10000;
	position:fixed;
	-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.2), inset 0px -1px 0px rgba(255,255,255,0.2);
	-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.2), inset 0px -1px 0px rgba(255,255,255,0.2);
	box-shadow:0px 3px 5px rgba(0,0,0,0.2), inset 0px -1px 0px rgba(255,255,255,0.2);
	font-weight:bold;
	display:none;
}

.state_ok{
	background:#95C715;
	background: -moz-linear-gradient(top, #95C715 0%, #7BA60D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95C715), color-stop(100%,#7BA60D));
	background:linear-gradient(top, #95C715 0%,#7BA60D 100%);
	border:1px solid #7BA60D;
	
}


.state_error{
	
	background: #ff0509; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDUwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ff0509 0%, #8f0222 92%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0509), color-stop(92%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff0509 0%,#8f0222 92%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff0509 0%,#8f0222 92%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff0509 0%,#8f0222 92%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff0509 0%,#8f0222 92%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0509', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */

}


BODY {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:0;
	margin:0;
	background-color:black;
	/*padding: 10px;*/
}

label{
	width:auto !important;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: underline;
	color:#0000FF;
	font-weight:bold;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	color:#6600CC;
	font-weight:bold;
}
.menu_s {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	color: #FFFFFF;
}
.menu_ses {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color:#FFFFFF;
}

.menu_ses:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color:#FFFF00;
	
}
.dias {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-decoration: none;
	color:#cccccc;
}

.dias:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-decoration: none;
	color:#ffffff;
}

.menuPrincipales{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
}
.menuPrincipales:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#0099FF;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
}

.menuEdicion_eliminar{
	 width:20; 
	 height:20;
	 background:url(img/eliminar.png);
	 background-color:#E8E8E8;
	 background-position:center; 
	 background-repeat:no-repeat;
}

.menuEdicion_editar{
	 width:20px;
	 height:20px;
	 background:url(img/b_edit.png);
	 background-color:#E8E8E8;
	 background-position:center; 
	 background-repeat:no-repeat;
}

.menuEdicion_desagruparSala{
	 width:20; 
	 height:20;
	 background:url(img/edit_05.gif);
	 background-color:#E8E8E8;
	 background-position:center; 
	 background-repeat:no-repeat;
}

.menu_s {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	color: #FFFFFF;
}

.menu_sel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	
}

.botones {
	font-size: 12px;
	text-decoration: none;
	background-color:#E3E9EA;
}
.botones_tl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	background-color:#BFAFC7;
}
.menu_sel:hover {
	color:#0000FF;
}

.institut {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000033;	
}

.programaLineaDia{


}
#contenidoDia{
	padding: 10px;
	border: 3px solid #FFF;
	background-color: #F7F7F7;
	position:relative;
	margin-top: 0px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.92);
-moz-box-shadow:    0px 0px 19px 0px rgba(50, 50, 50, 0.92);
box-shadow:         0px 0px 19px 0px rgba(50, 50, 50, 0.92);
padding-bottom: 23px;
}

#programaLineaDia{
	text-align: center;

}

.programaLineaSala{
	text-align: center;
}

#contenidoSala{
	border-bottom: 2px groove;
	position:relative;
	height:1px;
	top:0px;

}


.hora {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	/*margin-top: 20px;*/
	margin-right: 2px;
	margin-bottom: 3px;
	margin-left: 2px;
	padding: 4px;
	position:relative;

}

.tipo_de_actividad {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}

.trabajos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	background-color: #EFEFEF;
}

.titulo_actividad {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;	
	color:#3F548B;
	font-weight: bold;
	margin:2px;	
	margin-top:14px;
	margin-left: 10px;
}
#divTL{
margin-left: 90px;
}
#divTLBA{
margin-left: 40px;
}
.area_tematica {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000033;
	margin:2px;	margin-left: 40px;
}

.menu_dias {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color:#00FF00;
	font-weight: bold;
	
}
.menu_dias:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 88px;
	text-decoration: none;
	color:#00CC00;
	font-weight: bold;
	
}
.linea_trabajos {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family:Arial Narrow;
	font-size: 13px;
	text-decoration: none;
	color:#403E0B;
	font-weight: bold;
	margin-top: 12px;
	margin-right: 2px;
	margin-bottom: 2px;
	
}
.linea_persona {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin-left: 40px;
	
}

.cerrar_pop_ext{
}

.crono_hora {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #000000;

}
.crono_tipo_act {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #990000;
	
}
.crono_act {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color:#000066;
	
}
.crono_trab{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color:#990000;
	
}
.crono_autor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #0099FF;
	font-style: italic;
}
.bordes {
	border: 1px solid #333333;
}
.lista_persona {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000033;
	text-decoration: none;	
}
.lista_persona:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#0099FF;
	text-decoration: none;	
}
.fondoBlanco{

	text-decoration: none;
}

.linkIndice {
	color: #990000;
	font-weight:bold;	 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#990000;	
	text-decoration:none;
}
.linkIndice:hover {
font-weight:bold;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FF6600;
	text-decoration:none;
}
.bordePunteadoAbajo {
	border: solid 1px #999999;
	margin:2px;
	background-color:#F4FBFF;
	
}
.bordePunteadoAbajo_Nuevo {
	/*border-top: solid 1px #999999;*/
	margin:2px;
/*	background-color:#F4FBFF;*/
	
}
.bordePunteadoAbajo2 {
	border: solid 1px #999999;
	margin:3px;
	background-color:#F4FBFF;
	
}
.textos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}



.tituloTL {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#000000;
}
.autoresTL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.institucioTL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-style: italic;
}
.tipo_y_areaTL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0099FF;

}
.b_0{
background-color:#FFFF66;
}
.b_1{
background-color:#C5FEFD;
}
.b_2{
background-color:#B3FFB3;
}
.b_3{
background-color:#FFB3FF;
}
.b_4{
background-color:#FFBC8A;
}
#divTL_Gral{
	border:solid 2px #000000;	
	margin: 5px;
	width:640px;
	padding: 3px;
	background-color: #FFFFFF;
	background-image: url(img/bgTL.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	left: 143px;
	top: 688px;
	/*height:172px*/
	
}
#divTL_Gral_Nuevo{
	/*border:solid 2px #000000;*/
	/*border-top:1px solid #CCCCCC;*/
	margin: 5px;
	width:640px;
	/*padding: 3px;*/
	background-color: #FFFFFF;
	background-image: url(img/bgTL.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	left: 143px;
	top: 688px;
	overflow:auto;
	
}
.TLCrono{
	margin-top: 8px;
	border-top: 1px dashed #666666;
	padding-top:4px;
	width:90%;
	

}
/********/
.diaCronoExt{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-weight:bold;
	position:relative;
	float:right;
}
.salaCronoExt{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-weight:bold;	
	position:relative;
	float:left;
}
.horaCronoExt {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	/*margin-top: 20px;*/
	margin-right: 2px;
	margin-bottom: 3px;
	margin-left: 2px;
	padding: 2px;
	position:relative;
	clear:both;

}

.titCasCronoExt{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:15px;
	font-weight:bold;
	color:#990000;
	padding: 2px;
	position:relative;
}
.trabCronoExt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-top: 4px;
	color:#333366;
	position:relative;
}
.persCronoExt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	position:relative;
	padding-left:4px;
}

/**********/
#DatosCasillaBorde{
	background-color:#FEFFEA; 
	border:solid 1px #006699; 
	padding:5px; 
	margin:5px; 
	width:770px;
	float:left;
}
#ContenedorDatosCasilla{
	width:760px;
	float:left;
}

#ContenedorDatostrabajos{
	background-color:#FEF9FF; 
	border:solid 1px #9933CC; 
	padding:5px; 
	margin:5px; 
	width:770px;
	clear:both;
	float:left;
}
#ContenedorDatostrabajos{
	float:left;
}
#ContenedorDatostrabajosLista{
	width:750px;
	float:left;
}
#ContenedorDatosActividad{
	background-color:#ECF4F9; 
	border:solid 1px #339900; 
	padding:5px; 
	margin:5px; 
	width:770px;
	clear:both;
	float:left;
}
#ContenedorDatosActividadLista{
	width:760px;
	float:left;
}
#divTrabajos{
}
.linkAgregar{
	font-size:10px;
	text-decoration:none;
	color:#0066CC;
}
.linkAgregar:hover{
	font-size:10px;
	text-decoration:none;
	color:#993399;
}
#CasillaDia{
	float:left; 
	padding:4px; 
	width:180px;
}
#CasillaSala{
	float:left; 
	padding:4px; 
	width:350px;
}
#CasillaHora{
	float:left; 
	padding:4px; 
	width:200px;
}
#divContieneTLS{
	clear:both;
	float:left;
	width:760px;
	text-align:right;
}
#DivTextoDiaHoraSala, #DivTextoActividad{
float:right;
text-align:right;
width:250px;
}
#DivDatosDiaHoraSala, #DivDatosActividad{
color:#666666;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:12px;
/*font-style:italic;*/
font-weight:bold;
float:left; 
width:500px;
}


#DivGuardar {
	position:absolute;
	left:57px;
	top:24px;
	width:204px;
	height:28px;
	z-index:1;
	background-color:#FF3333;
	color:#FFFFFF;
	padding:6px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	display:none;	
}

.div_buscar_persona_TL{
	 overflow:hidden;
	 white-space:  nowrap;
	 vertical-align:middle;
	 /*height:22px;*/
	 line-height:20px; 
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;	 
	 border-bottom:solid 1px  #999999; 
	 background-color:#F0F0F0; 
	 padding:8px;
	 margin:0px;
	 cursor:pointer;

}
.div_buscar_persona_TL:hover{
	background-color:white !important;
}
.div_buscar_persona_TL:nth-child(even) {
    background-color: #F7F7F7;
}
.camposTL{

font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
.persona_search {

	width:480px; 
	overflow-X:hidden; 
	height:20px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	border:solid 1px #000000; 
	background-color:#D2E1F7;
	padding:2px;
	
}

#divDiasCronoListos{
background-color:#F7F7F7; 
border:1px solid #cccccc;
background-image:url(img/fondo_menu_crono.png);
background-position:top;
background-repeat:repeat-x;
background-color:#3F3E3D;
padding:4px;
text-align:left;
}
#divDiasCronoListos a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
color:#CCCCCC;
margin:10px;
}
#divDiasCronoListos a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
color:#FFFFFF;
margin:10px;
}
/*MENU ESTADO.php*/
#menu {
	clear: both;
	width: 650px;
	height: 20px;
	margin: 0px;
	padding: 0px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
}

#menu ul li {
	width: 90px;
	float: left;
	display: inline;
	list-style: none;	
	height: 20px;
	text-align:center;
	border-top:2px solid #666666;
	border-left:2px solid #666666;
	border-right:2px solid #666666;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-weight:bold;
	background-color:#E4E4CD;
	cursor:pointer;
	}
#contenidos_mover, #contenidos_tipo, #contenidos_area, #contenidos_ubicar{
	background-color:F7F7F0;
	/*border:2px solid #666666;
	border-bottom:2px solid #666666;*/
	border-top:2px solid #666666;
	border-left:2px solid #666666;
	border-right:2px solid #666666;
	height:60px;

	
}
#menu ul li:hover {
	background-color:#F7F7F0;
}
#enviar_mails{
	
	height:25px;
	border-left:2px solid #666666;
	border-right:2px solid #666666;
	border-bottom:2px solid #666666; 
	background-color:#E4E4CD; 
	padding-bottom:5px; 
	padding-top:10px; 
	clear:both;
}

.ajax-confs{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
	border: 2px solid rgb(0, 0, 0);
	padding:0px !important;
}

#container-sidebar
{
	width:300px;
	position:fixed;
    border-right:2px solid gray;
    height:200px;
    z-index:501;
    min-height:100%;
    background:url(imagenes/bg-side.png);
    color:black;
    padding:10px;
    left:-330px;
}
#container-sidebar .sidebar-opt-buttons{
	text-align:center;
    margin-left:28px;
    margin-bottom:15px;
}

.casillero-drop{
	position:absolute;
    background:url(../images/bg-white.png);
    width:100%;
    height:100%;
    text-align:center;
    display:none
}

.casillero-drop p{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    padding-top:3%;
    height: 30%;
    margin: auto;
    font-weight:bold;
    color:darkred;
	font-size:15px;
}

#ajax-state{
	position:absolute;
	z-index:1;
	left: 50%;
	display:none
}
#ajax-state #ajax-state-message{
	position: relative;
	left: -50%;
	font-size:16px;
	padding:10px;
}
#ajax-state #ajax-state-message.success{
	background-color: #43ac6a;
    border-color: #3a945b;
    color: #ffffff;
	border-radius: 3px;	
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    transition: opacity 300ms ease-out 0s;
}

#ajax-state #ajax-state-message.error{
	background-color: #f08a24;
    border-color: #de770f;
    color: #ffffff;
	border-radius: 3px;	
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    transition: opacity 300ms ease-out 0s;
}

.cargando-ajax{
	position:absolute;
    background:url(../images/bg-white.png);
    width:100%;
    height:100%;
    text-align:center;
    display:none
}

.cargando-ajax p{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    padding-top:3%;
    height: 30%;
    margin: auto;
    font-weight:bold;
    color:darkred;
	font-size:15px;
}

.ui-sortable-helper{
}

