#divTL_Gral_Nuevo{
	/*border:solid 2px #000000;*/
	/*border-top:1px solid #CCCCCC;*/
	margin: 5px;
	width:550px;
	/*padding: 3px;*/
	background-color: #FFFFFF;
	background-image: url(img/bgTL.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	left: 143px;
	top: 688px;
	
}

.bordePunteadoAbajo_Nuevo {
	/*border-top: solid 1px #999999;*/
	margin:2px;
/*	background-color:#F4FBFF;*/
	
}


.tituloTL {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#000000;
}
.autoresTL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.institucioTL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-style: italic;
}
.tipo_y_areaTL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0099FF;

}


.crono_trab{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color:#990000;
	
}
.menuEdicion_editar{
	 width:20px;
	 height:20px;
	 background:url(img/b_edit.png);
	 background-color:#E8E8E8;
	 background-position:center; 
	 background-repeat:no-repeat;
}
.menuEdicion_eliminar{
	 width:20; 
	 height:20;
	 background:url(img/eliminar.png);
	 background-color:#E8E8E8;
	 background-position:center; 
	 background-repeat:no-repeat;
}