@charset "utf-8";
/* CSS Document */

.editor {
  /*min-height: 100px;*/
  overflow:auto;
}
.editor-form fieldset {
  display: inline-block;
  padding:0px;
  border:0px;
  float:right;
}

.editor-form textarea{
	display:none
}

.editor-form fieldset button:first-child {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    margin-left: 0;
}


.editor-form fieldset button:last-child{
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
	border-right:1px solid !important;
	border-color: #cccccc #cccccc #b3b3b3 !important;
}

.editor-form fieldset button{
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #cccccc #cccccc #b3b3b3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	margin-right:-4px;
	border-right:none;
	border-radius:0px !important;
}

.editor-form fieldset button:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.editor-form .section {
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 1em 0 2em 0;
}
.editor-form .innercircle {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #acacac;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
}
.editor-form hr {
  visibility: hidden;
}
.editor-form dl {
  position: relative;
  display: inline-block;
  margin: 0;
}
.editor-form dl dd {
  position: absolute;
  bottom: 2em;
  left: 0;
  margin: 0;
  padding: 5px;
  background: silver;
  display: none;
  border: 1px solid gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px orange;
  -moz-box-shadow: 0 0 5px orange;
  box-shadow: 0 0 5px orange;
}
.editor-form dt:hover+dd {
  display: block;
}
.editor-form dl dt {
  display: inline-block;
  text-decoration: underline;
  font-size: smaller;
}

.editor-form .btnActive{
	background-color: #e6e6e6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}