@charset "utf-8";
/* CSS Document */

.mce-container .mce-widget{
	text-align:center !important;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset{
	text-align:right !important;
}

.mce-toolbar-grp{
	padding:0px !important;
}

.mce-branding-powered-by{
	display:none !important;
}

sub, sup{
	font-size:90% !important;
}

body,html{
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:left;
}

td{

    text-align:left;

} 

td[align=right]{

    text-align:right;

}
td[align=center]{

    text-align:center;

}

#contenedor{
	width: 1000px;
	margin:0 auto;
}
#contenedor #banner img{
	max-width:900px;
}

#contenedor #lateralizq{
	width:260px;
	display:table-cell;
}

#contenedor #lateralizq ul{
	margin:20px;
	padding:0;	
}

#contenedor #lateralizq ul li{
	font-size:11px;
	margin-top:10px;
}

#contenedor #contenido{
	margin:0 auto;
	/*display:table-cell;*/
	color:black
}

#contenedor #contenido #div_autores .table_autores{
}
#contenedor #contenido input[type="radio"]{
	width:auto
}
#contenedor #contenido input:not([type='file']),select{
	border:1px solid #CCC;
	width:155px;
}

#contenedor #contenido #control_autor{
	/*border:1px solid #9B9B9B;
	border-left:0px;
	border-right:0px;*/
	padding:5px 0 5px;
}

#contenedor #contenido #div_nuevo_autor{
	padding:5px;
	width:170px;
	float:left;
}
#contenedor #contenido #div_nuevo_autor a{
	/*color:#3966A6;
	font-weight:bold;*/
	text-decoration:none;
	color:gray;
	
}
#contenedor #contenido #div_eliminar_autor{
	padding:5px;
	width:190px;
	float:right;
}

#contenedor #contenido #div_eliminar_autor a{
	/*color:#3966A6;
	font-weight:bold;*/
	color:gray;
	text-decoration:none;
	
}

#contenedor #contenido .round_link{
	/*background-color:#3966A6;*/
	background-color:gray;
	padding:2px 7px 2px 7px;
	color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#contenedor #contenido #div_autores .table_autores{
	margin-bottom:-7px;
}

#contenedor #contenido #div_autores #div_nuevo_autor a{
	text-decoration:none;
}
#contenedor #second_step{
	text-align:center;
	margin-top:15px;
	
}

#contenedor .input_next input{
	color:white;
	background-color:#3966A6;
	border:none;
	padding:5px 15px 5px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}
#contenedor #contenido .titulo_box{
	color:#9B9B9B;
	font-size:15px;
	margin-bottom:0px;
	/*float:left;*/
	margin-top:30px;
}

.hide_titulo{
	background-color: white;
    height: 94px;
    margin: 0;
    padding: 48px 0 0 0;
    position: absolute;
    vertical-align: middle;
    width: 750px;
    z-index: 1;
	text-align:center;
}

.hide_titulo a{
	font-size:14px;
}


.titulo{
	font-size:22px;
	font-weight:bold;
}

.mas_autor{
	padding:5px 5px;
	border:1px solid;
	border-left:none;
	
}

.mce-path{
	display:none !important;
}
#beta-alert{
	width:100%;
	position:fixed;
	top:0px;
	border-bottom:6px solid #ED7627;
	z-index:9999999
}